# Ignorar todos los archivos CSV


# Ignorar todos los archivos EXE
*.exe

# Ignorar configuracion de vscode
!.vscode/

#Ignorar los .csv
*.csv

# Binarios compilados y objetos (en cualquier carpeta)
geocluster
test_rstar
test_rstarlib
*.o
*.bin

# Archivos de lock de LibreOffice
.~lock.*

# Paper con copyright (ACM) - mantener solo local
rstar-tree.pdf
